build/
dist/
pippin_naco.egg-info/
pippin_naco/data/
pippin_naco/example_HD_135344B/DARKs/master_DARK/
pippin_naco/example_HD_135344B/FLATs/master_FLAT/
pippin_naco/example_HD_135344B/master_BPMs/
pippin_naco/example_HD_135344B/pipeline_output/
pippin_naco/__pycache__/
